mountConfig: true
configFiles:
  config.json: |-
    {
      "storage": { "rootDirectory": "/var/lib/registry" },
      "http": {
        "address": "0.0.0.0",
        "port": "5000",
        "auth": { "htpasswd": { "path": "/secret/htpasswd/htpasswd" } },
        "ratelimit": {
            "rate": 10,
            "methods": [
                {
                    "method": "GET",
                    "rate": 5
                }
            ]
        }
      },
      "log": { "level": "debug" },
      "extensions": {
        "search": {
          "cve": {
            "updateInterval": "2h"
          }
        },
        "ui": {
          "enable": true
        }
      }
    }
externalSecrets:
  - secretName: "htpasswd"
    mountPath: "/secret/htpasswd"

persistence: true

pvc:
  create: true

service:
  type: ClusterIP
