mountConfig: true
configFiles:
  config.json: |-
    {
      "storage": { "rootDirectory": "/var/lib/registry" },
      "http": {
        "address": "0.0.0.0",
        "port": "5000",
        "auth": { "htpasswd": { "path": "/secret/htpasswd/htpasswd" } },
        "accessControl": {
          "repositories": {
            "**": {
              "policies": [{
                "users": ["user"],
                "actions": ["read"]
              }],
              "defaultPolicy": []
            }
          },
          "adminPolicy": {
            "users": ["local"],
            "actions": ["read", "create", "update", "delete"]
          }
        }
      },
      "log": { "level": "debug" },
      "extensions": {
        "search": {
          "cve": {
            "updateInterval": "2h"
          }
        },
        "ui": {
          "enable": true
        }
      }
    }
externalSecrets:
  - secretName: "htpasswd"
    mountPath: "/secret/htpasswd"

persistence: true

pvc:
  create: true

service:
  type: ClusterIP
