mountConfig: true
configFiles:
  config.json: |-
    {
    "storage": {
        "rootDirectory": "/var/lib/registry",
        "gc": true,
        "gcInterval": "6h",
        "gcDelay": "1h",
        "retention": {
          "policies": [
            {
              "repositories": ["**"],
              "deleteReferrers": true,
              "deleteUntagged": true,
              "keepTags": [
                {
                  "mostRecentlyPushedCount": 3,
                  "patterns": [".*"]
                }
              ]
            }
          ]
        }
      },
      "http": {
        "address": "0.0.0.0",
        "port": "5000",
        "auth": { 
          "htpasswd": { 
            "path": "/secret/htpasswd/htpasswd" 
          },
          "failDelay": 5
        },
        "ratelimit": {
            "rate": 10,
            "methods": [
                {
                    "method": "GET",
                    "rate": 5
                }
            ]
        }
      },
      "log": { "level": "debug" },
      "extensions": {
        "search": {
          "enable": true
        },
        "ui": {
          "enable": true
        }
      }
    }
externalSecrets:
  - secretName: "htpasswd"
    mountPath: "/secret/htpasswd"

persistence: true

pvc:
  create: true

service:
  type: ClusterIP

podSecurityContext:
  seccompProfile:
    type: RuntimeDefault

securityContext:
  capabilities:
    drop:
      - ALL
