apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
  namespace: flux-system
spec:
  interval: 10m
  targetNamespace: nextcloud
  releaseName: nextcloud
  chart:
    spec:
      chart: nextcloud
      reconcileStrategy: ChartVersion
      version: "8.7.0"
      sourceRef:
        kind: HelmRepository
        name: nextcloud
        namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: nextcloud-values
